body {
    margin: 0;
    font-size: cambria;
}
#navbar {
background-color: rgb(125, 69, 31);
color: white;
position: fixed;
top: 0;
z-index: 99;
width: 100%;
opacity: 1;
}
#navbar:hover {
    border-bottom: 1px solid rgb(29, 6, 99);
    opacity: 1;
}
#navbar ul li a {
    color: white;
}
#navbar ul li a:hover {
    border-radius: 7px;
    background-color: gray;
    color: black;
}
#container {
    width: 100%;
    height: 600px;
    padding-top: 50px;
    background-image:url("../images/Chocolatecake.jpg");
    background-repeat:no-repeat ;
    background-size: 100% 100%;
    position: relative;
    text-shadow: 3px 3px 4px white;
}
.header-title {
    padding: 50px;  
}
.btn-menu {
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    width: 130px;
    height: 30px;
    background-color: brown;
    color: black;    
}
#about-us {
    padding: 50px;
}
.card {
    padding: 0;
    margin: 30px;
}
.card-img-top {
    height: 180px;
}
#menu {
    background-color: gray;
}
.round {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.user {
   border-left: 5px solid rgb(75, 75, 163);
   margin-left: 60px;
   padding-left: 30px;
   border-radius: 50px;
}
.footer {
    height: 30px;
    line-height: 30px;
   background-color: rgb(201, 232, 128);
   color: rgb(74, 70, 70);
   margin-top: 30px;
   text-align: center;
}